[submodule "link/.vim/bundle/vim-sensible"]
	path = link/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "link/.vim/bundle/vim-airline"]
	path = link/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "link/.vim/bundle/vim-airline-themes"]
	path = link/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "link/.vim/bundle/vim-pathogen"]
	path = link/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "link/.vim/bundle/vim-monokai"]
	path = link/.vim/bundle/vim-monokai
	url = https://github.com/crusoexia/vim-monokai
[submodule "link/.vim/bundle/promptline"]
	path = link/.vim/bundle/promptline
	url = https://github.com/edkolev/promptline.vim
[submodule "link/.vim/bundle/tmuxline"]
	path = link/.vim/bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim
