{{ $git_user_name := promptString "git_user_name" "Walter Lenuzza" -}}
{{ $git_user_email := promptString "git_user_email" "waltlenu@users.noreply.github.com" -}}

data:
  # Git User name
  git_user_name: {{ $git_user_name | quote }}
  # Git User e-mail address
  git_user_email: {{ $git_user_email | quote }}
