{{- if eq .chezmoi.os "darwin" }}
# iTerm2 integration

[".config/iterm2/iterm2_shell_integration.bash"]
  type = "file"
  url = "https://iterm2.com/shell_integration/bash"

[".config/iterm2/iterm2_shell_integration.zsh"]
  type = "file"
  url = "https://iterm2.com/shell_integration/zsh"

{{ end }}
