[push]
    default = simple
[credential]
    helper = osxkeychain
[url "https://github.com/"]
    insteadOf = git://github.com/
[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    whitespace = trailing-space,space-before-tab
[gc]
    auto = 1
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[color]
    ui = true
[alias]
    d = diff HEAD --patch-with-stat --summary
    follow = log -p --follow --
    l = log --stat --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    last = log --decorate=full --stat -1 HEAD
    s = status -sb
    undopush = push -f origin HEAD^:master
    unstage = reset HEAD --
[diff]
    renames = copies
[merge]
    stat = true
