[Unit]
Description=User systemd services for Xorg graphical session
After=default.target
BindsTo=graphical-session.target
Wants=compositor.service
Wants=hotkeys.service
Wants=screens.service
Wants=statusbar.service
Wants=urxvtd.service
Wants=xresources.service
Wants=wallpapaper.service
