#!/usr/bin/env sh

###
### Shared shell settings (bash/zsh): Environment Variables
###

##
## XDG user directories
## https://wiki.archlinux.org/index.php/XDG_user_directories
##

export XDG_DESKTOP_DIR="$HOME/Desktop"
export XDG_DOCUMENTS_DIR="$HOME/Documents"
export XDG_DOWNLOAD_DIR="$HOME/Downloads"
export XDG_MUSIC_DIR="$HOME/Music"
export XDG_PICTURES_DIR="$HOME/Pictures"
export XDG_PUBLICSHARE_DIR="$HOME/Public"
export XDG_SOURCE_DIR="$HOME/src"
export XDG_TEMP_DIR="$HOME/tmp"
export XDG_VIDEOS_DIR="$HOME/Movies"

##
## Environment variables
##

# Proxy
# export http_proxy="http://192.168.1.1:8080"
# export https_proxy="https://192.168.1.1:8080"
# export ftp_proxy="ftp://192.168.1.1:8080"
# export rsync_proxy="http://192.168.1.1:8080"
# export no_proxy="localhost,127.0.0.1,localaddress,.localdomain.com"

##
## Fixes for packages without proper builtin XDG support
##

# less
# shellcheck disable=SC2154
test -d "${XDG_CACHE_HOME}/less" || mkdir -p "${XDG_CACHE_HOME}/less"
export LESSKEY="${XDG_CACHE_HOME}/less/lesskey"
export LESSHISTFILE="${XDG_CACHE_HOME}/less/history"

# GnuPG
# shellcheck disable=SC2154
export GNUPGHOME="${XDG_DATA_HOME}/gnupg"
# shellcheck disable=SC2155
export GPG_TTY="$(tty)"

# SSH agent
# shellcheck disable=SC2154
export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/ssh-agent.socket"

# wget
# shellcheck disable=SC2154
test -d "${XDG_CONFIG_HOME}/wget" || mkdir -p "${XDG_CONFIG_HOME}/wget"
export WGETRC="${XDG_CONFIG_HOME}/wget/wgetrc"
