[alias]
    # Show all branches, including remotes
    b = branch -a
    # Diff
    d = diff HEAD --patch-with-stat --summary
    # Sync with remote
    f = fetch --all --prune
    p = pull --rebase --autostash --prune
    # Log: short, with patches, only last commit
    l = log --stat --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    la = log -p --stat --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    last = log -p --decorate=full --stat -1 HEAD
    # List all git files
    ls = ls-tree --full-tree -r --name-only HEAD
    # Switch: to default branch, to a branch (create if necessary)
    m = !git switch $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')
    sw = switch -C
    # Status
    s = status -sb
    # Undo
    undopush = push -f origin HEAD^:master

[include]
    path = ~/.config/git/user

[core]
    excludesfile = ~/.config/git/ignore
    # a matter of taste (uncomment if you dare)
    # fsmonitor = true
    # untrackedCache = true

[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[init]
    defaultBranch = main
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[pull]
    # a matter of taste (uncomment if you dare)
    # rebase = trues
[fetch]
    prune = true
    pruneTags = true
    all = true
[merge]
    conflictstyle = zdiff3
[help]
    autocorrect = prompt
[commit]
    verbose = true
[rerere]
    enabled = true
    autoupdate = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
{{- if eq .chezmoi.os "linux" -}}
[credential]
    helper = store --file ~/.cache/git/secrets
{{- end -}}
